<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.saipaisi.project.basic.mapper.BasicExecutedEnterpriseMapper">
    
    <resultMap type="BasicExecutedEnterprise" id="BasicExecutedEnterpriseResult">
        <result property="id"    column="id"    />
        <result property="judgmentDate"    column="judgment_date"    />
        <result property="personSubject"    column="person_subject"    />
        <result property="caseCode"    column="case_code"    />
        <result property="executive"    column="executive"    />
        <result property="court"    column="court"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="orderSn"    column="order_sn"    />
    </resultMap>

    <sql id="selectBasicExecutedEnterpriseVo">
        select id, judgment_date, person_subject, case_code, executive, court, create_time, update_time, order_sn from basic_executed_enterprise
    </sql>

    <select id="selectBasicExecutedEnterpriseList" parameterType="BasicExecutedEnterprise" resultMap="BasicExecutedEnterpriseResult">
        <include refid="selectBasicExecutedEnterpriseVo"/>
        <where>  
            <if test="judgmentDate != null  and judgmentDate != ''"> and judgment_date = #{judgmentDate}</if>
            <if test="personSubject != null  and personSubject != ''"> and person_subject = #{personSubject}</if>
            <if test="caseCode != null  and caseCode != ''"> and case_code = #{caseCode}</if>
            <if test="executive != null  and executive != ''"> and executive = #{executive}</if>
            <if test="court != null  and court != ''"> and court = #{court}</if>
            <if test="orderSn != null  and orderSn != ''"> and order_sn = #{orderSn}</if>
        </where>
    </select>
    
    <select id="selectBasicExecutedEnterpriseById" parameterType="Long" resultMap="BasicExecutedEnterpriseResult">
        <include refid="selectBasicExecutedEnterpriseVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertBasicExecutedEnterprise" parameterType="BasicExecutedEnterprise" useGeneratedKeys="true" keyProperty="id">
        insert into basic_executed_enterprise
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="judgmentDate != null">judgment_date,</if>
            <if test="personSubject != null">person_subject,</if>
            <if test="caseCode != null">case_code,</if>
            <if test="executive != null">executive,</if>
            <if test="court != null">court,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="orderSn != null">order_sn,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="judgmentDate != null">#{judgmentDate},</if>
            <if test="personSubject != null">#{personSubject},</if>
            <if test="caseCode != null">#{caseCode},</if>
            <if test="executive != null">#{executive},</if>
            <if test="court != null">#{court},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="orderSn != null">#{orderSn},</if>
         </trim>
    </insert>

    <update id="updateBasicExecutedEnterprise" parameterType="BasicExecutedEnterprise">
        update basic_executed_enterprise
        <trim prefix="SET" suffixOverrides=",">
            <if test="judgmentDate != null">judgment_date = #{judgmentDate},</if>
            <if test="personSubject != null">person_subject = #{personSubject},</if>
            <if test="caseCode != null">case_code = #{caseCode},</if>
            <if test="executive != null">executive = #{executive},</if>
            <if test="court != null">court = #{court},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="orderSn != null">order_sn = #{orderSn},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBasicExecutedEnterpriseById" parameterType="Long">
        delete from basic_executed_enterprise where id = #{id}
    </delete>

    <delete id="deleteBasicExecutedEnterpriseByIds" parameterType="String">
        delete from basic_executed_enterprise where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>